<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Integration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/addCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProfessorServlet</display-name>
    <servlet-name>AddProfessorServlet</servlet-name>
    <servlet-class>servlet.AddProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfessorServlet</servlet-name>
    <url-pattern>/addProfessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetail</display-name>
    <servlet-name>CourseDetail</servlet-name>
    <servlet-class>controllers.CourseDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetail</servlet-name>
    <url-pattern>/CourseDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendEmail</display-name>
    <servlet-name>sendEmail</servlet-name>
    <servlet-class>controllers.sendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmail</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controllers.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDetails</display-name>
    <servlet-name>FacultyDetails</servlet-name>
    <servlet-class>controllers.FacultyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDetails</servlet-name>
    <url-pattern>/FacultyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudProfile</display-name>
    <servlet-name>StudProfile</servlet-name>
    <servlet-class>controllers.StudProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudProfile</servlet-name>
    <url-pattern>/StudProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReadCourse</display-name>
    <servlet-name>AddReadCourse</servlet-name>
    <servlet-class>controllers.AddReadCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReadCourse</servlet-name>
    <url-pattern>/AddReadCourse</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\Program Files\Apache Software Foundation\Tomcat 6.0\webapps\Ed-On-Demand\Video
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SearchProfServlet</display-name>
    <servlet-name>SearchProfServlet</servlet-name>
    <servlet-class>controllers.SearchProfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProfServlet</servlet-name>
    <url-pattern>/SearchProfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignServlet</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/signservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCreditServlet</display-name>
    <servlet-name>AddCreditServlet</servlet-name>
    <servlet-class>servlet.AddCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCreditServlet</servlet-name>
    <url-pattern>/addCreditServlet</url-pattern>
  </servlet-mapping>
</web-app>